body {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}
h1 {
    color: #CCCCCC;
}
textarea {
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    color: #CCCCCC;
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #222222;
    resize: none;
    width: 90%;
}

button.download {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #333333;
  color: #CCCCCC;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

button.download:hover {
	background-color: #119911;
  color: #CCCCCC;
}

/* Selection */
::-moz-selection { /* Code for Firefox */
    color: #AAAAAA;
    background: #117711;
}
::selection {
    color: #AAAAAA;
    background: #117711;
}

/* Placeholder */
::-webkit-input-placeholder {
   color: #555555;
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #555555;
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #555555;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #555555;
  font-style: italic;
}
